button[type="submit"] {
  padding: 1.2rem 0;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--white);
  background-color: var(--green-medium);
  border-radius: 0.6rem;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: var(--grey-darker);
}