input,
textarea {
  width: 100%;
  display: block;
  padding: 1.6rem;
  cursor: pointer;
}

input:focus,
input:hover,
textarea:hover,
textarea:focus {
  border-color: var(--green-medium);
}

input[type="radio"],
input[type="checkbox"] {
  accent-color: var(--green-medium);
  width: 16px;
  height: 16px;
}

textarea {
  resize: none;
  height: 24rem;
}


/* ERROR */

.input-error {
  border-color: var(--red);
}